@import url(https://fonts.googleapis.com/css?family=Cabin:600);

body {
	background-image: url(../images/AndreasGurskyMontparnasseParis.jpg);	
}

h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
	padding-top: 100px;
}

h1, p {
	color: #000000;
	}