body {
	background-image: url("https://moccadesign.files.wordpress.com/2012/06/andreas_gursky_inspiration_3.jpeg");
	}

h1 {font-size: 75px;
padding-top: 100px }


	h1, p {
		color: #FFFFFF;
		font-family: "Helvetica";
	}